html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

.fake-cursor {
    position: absolute;
    width: 2px;
    animation: blink-animation 1s infinite;
}

@keyframes blink-animation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}